﻿@page "/"
@page "/{ErrorMessage}"
@using TCBlazorLib.Components

<h3>Authentication</h3>

@if (ErrorMessage != null)
{
    <div class="text-danger" id="ErrorMessageDiv">@ErrorMessage</div>
}

<Login>

</Login>

@code {
    [Parameter] public string ErrorMessage { get; set; }
}
