﻿@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms;
@using System.Text.Json;
@using MudBlazor;
@using System.Text;
@using System.Net.Http.Json;
@using Models;
@inject NavigationManager navigationManager

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First name" id="LoginInput"
                    @bind-Value="model.Username" For="@(() => model.Username)"
                                  AutoFocus="true" />
                    <MudTextField Label="Password" Class="mt-3"
                    @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                               Color="Color.Primary" id="LoginBtn"
                               Class="ml-auto">Login</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    public UserCredentials model = new UserCredentials();
    private const string _user = "user";
    private const string _password = "pass";


    private void OnValidSubmit()
    {
        if (model.Username == _user && model.Password == _password)
        {
            navigationManager.NavigateTo("/SuccessfullLogin");
        }
        else
        {
            navigationManager.NavigateTo("/Invalid Credentials");
        }
    }

}
